body {
width: 1440px;
height: 912px;
padding: 24px 96px 24px 96px;
background-color: #F8F8FA;
margin: 0px;
}

section.panelMenu {
display: inline-block;
width: 185px;
height: 894px;
padding: 0px 16px 40px 16px;
border-radius: 24px; 
margin-top: 24px;
margin-right: 24px;
margin-bottom: 24px;
margin-left: 96px;
}

div.menu {
display: inline-block;
width: 185px;
height: 632px;
padding-top: 131px;
padding-bottom: 131px;
margin: 0px, 16px, 40px, 16px;
}

ul {
width: 186px;
height: 632px;
display: inline-block;
padding: 0px;
margin: 0px;
}

ul li {
display: inline-block;
width: 153px;
height: 24px;
padding: 16px;
margin-bottom: 8px;

}

li {
color: #121212;
font-size: 16px;
font-family: Inter, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 500;
line-height: 20px;
vertical-align: middle;
}

li.city {
border-radius: 8px;
border: 1px solid var(--cskc-06-ecc-400, #BD68CA);
background: var(--cskc-06-ecc-500, #C06ECC);
color: #FFF;
}

img.icon {
width: 24px;
height: 24px;
padding: 0px;
padding-right: 16px;
display: inline-block;
vertical-align: middle;
}

section.panelCities {
display: inline-block;
position: fixed;
width: 1007px;
height: 936px;
margin-top: 0px;
margin-right: 96px;
margin-bottom: 24px;
margin-left: 0px;
padding: 0px;
}

span.alert {
display: inline-block;
width: 144px;
height: 40px;
float: right;
}

p.e-mail {
color: var(--text-main, #434652);
font-size: 14px;
font-family: Inter, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
line-height: 20px;
vertical-align: middle;
padding: 0px;
margin: 0px;
display: inline-block;
}

img.master {
width: 40px;
height: 40px;
margin-right: 16px;
background: var(--grayspace-layout-gray-10, #EBECEF);
border-radius: 4px;
vertical-align: middle;
display: inline-block;
}

div.citiesStyle {
width: 1007px;
height: 872px;
margin-top: 24px;
border-radius: 24px 24px 0px 0px;
background: #FFF;
box-shadow: -5px 1px 15px 0px rgba(0, 0, 0, 0.05);
display: inline-block;
display: inline-block;
}

div.citiesContainer {
width: 959px;
height: 848px;
padding: 0px;
margin-top: 24px;
margin-right: 24px;
margin-left: 24px;
display: inline-block;
}

input.name {
width: 314px;
height: 40px;
border-radius: 8px;
border: 1px solid #D0D3DA;
background: #FFF;
padding: 0px;
vertical-align: middle;
}

input.address {
width: 314px;
height: 40px;
border-radius: 8px;
border: 1px solid  #D0D3DA;
background: #FFF;
padding: 0px;
vertical-align: middle;
margin-left: 2px;
margin-right: 2px;
}


button.buttonAddCity {
width: 314px;
height: 40px;
border-radius: 8px;
border: 1px solid #BD68CA;
background: #C06ECC;
padding: 0px;
vertical-align: middle;
}

.buttonAddCity:hover {
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(81, 11, 131, 0.5);
} 

p.buttonAddCityStyle {
margin: 0px;
align-items: center;
color: #FFF;
font-size: 16px;
font-family: Inter, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 500;
line-height: 24px;
}

div.labelCity {
width: 440px;
height: 44px;
border-top: 1px solid var(--grayspace-layout-gray-10, #EBECEF);
border-bottom: 1px solid var(--grayspace-layout-gray-10, #EBECEF);
background: var(--grayspace-layout-gray-5, #F8F8FA);
margin-top: 16px;
display: inline-block;
}

div.labelAddress {
width: 506px;
height: 44px;
border-top: 1px solid var(--grayspace-layout-gray-10, #EBECEF);
border-bottom: 1px solid var(--grayspace-layout-gray-10, #EBECEF);
background: var(--grayspace-layout-gray-5, #F8F8FA);
margin-top: 16px;
display: inline-block;
    }

span {
color: var(--grayspace-text-gray-70, #737680);
font-size: 14px;
font-family: Inter, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 500;
line-height: 24px;
vertical-align: middle;
display: inline-block;
padding-top: 10px;
padding-right: 8px;
padding-bottom: 10px;
padding-left: 8px;
}

div.cities {
display: inline-block;
width: 440px;
height: 340px;
float: left;
}

div.addressContainer {
display: inline-block;
width: 506px;
height: 340px;
float: right;
}

li.addLi {
width: 940px;
height: 48px;
padding-top: 10px;
padding-right: 8px;
padding-bottom: 10px;
padding-left: 8px;
margin: 0px;
font-family: Inter, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 20px;
color: var(--text-main, #434652);
border-bottom: 1px solid var(--grayspace-layout-gray-10, #EBECEF);
}

label {
vertical-align: middle;
display: inline-block;
}

div.data_address {
display: inline-block;
width: 440px;
height: 340px;
}


img.deleteImg {
vertical-align: middle;
width: 16px;
height: 16px;
}

.buttonDelete {
    border: none;
    background: none;
    text-align: right;
    width: 30px;
    height: 30px;
    float: right;
}

.buttonDelete:hover {
    transform: scale(1.25);
}

ul.addressItem {
    width: 460px;
}

li.addressListItems {
    width: 460px;
    border-bottom: 1px solid var(--grayspace-layout-gray-10, #EBECEF);
}

ul.cityItem {
    width: 460px;
}

li.citiesListItems {
    width: 460px;
    border-bottom: 1px solid var(--grayspace-layout-gray-10, #EBECEF);
}